*{
   font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif ; 
}

.left{
    height: 700px; 
    width: 430px;
    background-image: url(https://static.cdninstagram.com/rsrc.php/v3/y4/r/ItTndlZM2n2.png);
    background-repeat: no-repeat;

}

.left img{
    position: relative;
    top: 27px;
    left: 155px;
}

input{
    all: unset;
    padding: 10px;
    border: 1px solid rgb(99, 99, 99);
    margin-top: 10px;
}

input:focus,input:active{
    border: 1px solid rgb(38,38,38,0.4);
}

button{
    background-color: #47afff;
    text-align: center;
    border: none;
    color:white;
    padding: 10px;
    margin: 10px;
    font-weight: 600;
    border-radius: 5px;
}

h1 {
    
    background: linear-gradient(271deg,#a0e9ff 30%,#a162e8 50%,#f093b0 70%,#edca85 94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  body{
    background-color:black;
    background-image: url(https://media.istockphoto.com/id/1362422378/photo/abstract-blurred-purple-background-light-spot-on-dark-background.jpg?b=1&s=170667a&w=0&k=20&c=amYN1DW4JOaYvCIpmjXigJVNVYQzEpDX0HiTBFW6IF8=);
    background-repeat: no-repeat;
    background-size:cover;
  }
